asgi-redis==1.0.0
asgiref==1.1.1
async-timeout==2.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
constantly==15.1.0
Django==2.0.2
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
redis==3.2.1
six==1.12.0
