asgi-redis==1.0.0
asgiref==1.1.1
async-timeout==2.0.1
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
channels==0.17.3
constantly==15.1.0
daphne==0.15.0
Django==1.11.28
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
redis==3.2.1
six==1.12.0
