 .nav-wrapper{
    background-color: #0d47a1 !important;
}

#new_note_label{
    margin-top: 30px;
    margin-left: 30px;
    width: 30%;
    font-family: cursive;
    font-size: 30px;
}

#nav-mobile{
    background-color: #0d47a1 !important;
}

#add-note{
    margin-bottom:5px;
    margin-top: 5px;
    margin-right: 5%;
}

#notearea-con{
margin-left: 60px;
}

textarea{
    border-radius: 5px;
}
#notearea{
    margin-top: 30px;    
    width: 120% !important;
    height: 500px !important;
}

#save-btn{
    margin-right: 1%;
}
#share-btn{
    margin-right: 15%;
}

h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
    margin-bottom: -5px;
}

#charcount{
    width:25%;
    border-radius:5px;
    box-shadow: 5px 5px 10px;
}