.nav-wrapper{
    background-color: #0d47a1 !important;
}

#new_note_label{
    margin-top: 30px;
    margin-left: 30px;
    width: 30%;
    font-family: cursive;
    font-size: 30px;
}

#add-note{
    margin-bottom:5px;
    margin-top: 5px;
    margin-right: 5%;
}

textarea{
    width: 1000px !important;
    margin-left: 5%;
    margin-right:5%;
    height: 500px !important;
    border-radius: 5px;
}
#notearea{
    margin-top: 30px;
}

#save-btn{
    margin-right: 1%;
}
#share-btn{
    margin-right: 15%;
}

h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
    margin-bottom: -5px;
}