<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <title>{% block title %}Notebin{% endblock %}</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <!-- <a href="#" class="brand-logo right"><img class="responsive-img" style="width: 250px;" src="{% static 'assests/Notebin.gif' %}" /></a> -->
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/new_note/">New</a></li> -->
                <!-- <li><a href="/admin/">Admin</a></li> -->
                <li>{{username}}</li>
                {% if login_status %}
                <li><a href="/login/">Login</a></li>
                {% else %}
                <li><a href="/logout/">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

<!--     
    <footer class="footer">
        <p>© 2019 Django AC Project</p>
    </footer>
     -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% block footer %}
{% endblock %}
</body>
</html>