{% extends "base.html" %}
{%block title%}
    NoteBin
{%endblock%}
{% block body %}

<head>
    
   {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    
</head>
    <div class="container" id="new_note_label">
            <a href="/new_note/"><div class="card-panel blue lighten-4"><i class="small material-icons" id="add-note">create</i>Take a new note</div><a>
    </div>

<div class="container">
{% if user_notes %}
<div class="row split left">
{% for note in user_notes %}
       
            <div class="col s6" data-toggle="modal" >
                <div class="card  purple darken-2 hoverable">
                    <div class="card-content white-text">
                    <span class="card-title">{{note.name}}</span>
                    </div>
                    <div class="card-content white-text">{{note.user}}</div>
                    <div class="card-action">
                        <a class="btn-floating btn-large waves-effect waves-light orange" href="{{note.name}}"><i class="material-icons">edit</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger" href="#{{note.name}}"><i class="material-icons">visibility</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light red" href="delete_note/{{note.name}}"><i class="material-icons">delete</i></a>
                       
                    </div>
                </div>
            </div>
        
        {%endfor%}
    </div>
    <div class="row split right">
    {% for note in public_notes %}
        <div class="col s6"  data-toggle="modal" >
            <div class="card deep-purple darken-4 hoverable">
                <div class="card-content white-text">
                <span class="card-title">{{note.name}}</span>
                </div>
                <div class="card-content white-text">{{note.user}}</div>
                <div class="card-action">
                    <a class="btn-floating btn-large waves-effect waves-light orange" href="{{note.name}}"><i class="material-icons">edit</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger" href="#{{note.name}}"><i class="material-icons">visibility</i></a>
                    <div id="{{note.name}}" class="modal">
                        <div class="modal-content">
                        <h4>{{note.name}}</h4>
                        <pre class="prettyprint">{{note.note|linebreaks}}</pre>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close btn-floating btn-large waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
{% endfor %}
</div>
{% else %}
<div class="row">
        {% for note in public_notes %}
        <div class="col s4"  data-toggle="modal" >
            <div class="card deep-purple darken-4 hoverable">
                <div class="card-content white-text">
                <span class="card-title">{{note.name}}</span>
                </div>
                <div class="card-content white-text">{{note.user}}</div>
                <div class="card-action">
                    <a class="btn-floating btn-large waves-effect waves-light orange" href="{{note.name}}"><i class="material-icons">edit</i></a>
                    <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger" href="#{{note.name}}"><i class="material-icons">visibility</i></a>
                    <div id="{{note.name}}" class="modal">
                        <div class="modal-content">
                        <h4>{{note.name}}</h4>
                        <pre class="prettyprint">{{note.note|linebreaks}}</pre>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close btn-floating btn-large waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
{% endfor %}
</div>
{% endif %}
</div>
{%for note in notes%}
<div id="{{note.name}}" class="modal">
        <div class="modal-content">
        <h4>{{note.name}}</h4>
        <pre class='prettyprint'>{{note.note|linebreaks}}</pre>
        </div>
        <div class="modal-footer">
            <a class="modal-close btn-floating btn-large waves-effect waves-light red"><i class="material-icons">close</i></a>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block footer %}
{% load static %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
<!-- 
{% for note in notes %}
    {{note.name}}
    {{note.note}}
    {{note.time_modified}}
{% endfor %} -->