{% extends "base.html" %}
{% block title%}
    NoteBin
{% endblock %}
{% block body %}
    <div class="container">
        <h5 id="note_name">{{note.name}}</h5>
        <a class="btn-floating btn-large waves-effect waves-light blue" onclick="share()">
            <i class="material-icons right" id="share-btn">share</i>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light green" onclick="save()">
            <i class="material-icons right" id="save-btn">save</i>
        </a>
    </div>
    <textarea id="notearea" class="materialize-textarea" onkeyup="change()" placeholder="NotePad">
        {{note.note}}
    </textarea>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
    {% load static %}
    <script src="{% static 'js/note.js' %}"></script>
    <script src="{% static 'js/update.js' %}"></script>
{% endblock %}